--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
streamlit
llama-cpp-python
huggingface-hub
requests
plotly
pandas
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
python-dotenv
psutil
